<a href="<%=new_user_note_url%>">Create Note!</a>

<p>All Your Notes!</p>

<ul>
  <%@notes.each do |note|%>
    <h3><%=note.title%></h3>
    <ul>
      <li><%=note.body%></li>
    </ul>
  <%end%>
</ul>
