<h3>Create a new Note!</h3>

<form>
  <label for="note_content">Content:</label>
  <br>
  <textarea id="note_content" name="note[content]" rows="4" cols="50"></textarea>
  <br>
  <input type = "submit" value="Create Note!">
</form>