<h3>Create a new Note!</h3>

<form action="<%=user_notes_url(current_user)%>" method="POST">
  <%= authenticity_helper %>
  <label>New Note!</label>
  <br>
  <input type="text" name="note[title]" id="note_title" placeholder="Title (optional)">
  <br>
  <label for="note_body">Content:</label>
  <br>
  <textarea placeholder="Create a new note!" id="note_body" name="note[body]" rows="4" cols="50"></textarea>
  <br>
  <input type = "submit" value="Create Note!">
</form>