<form action="<%=session_url%>" method="POST">

  <label for="username">Username:</label>
  <input type="text" value="">
  <br>
  <label for="password">Password:</label>
  <input type="password" value="">
  <br>
  <label for="password">Confirm Password:</label>
  <input type="password" value="">
  <br>
  <input type="submit" value="Sign Up!">
</form>